/* Write your CSS here */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 100vh;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  padding: 10px;
  margin: 15px;
  width: 400px;
  height: 300px;
}
.btn {
  align-items: center;
  align-self: center;
  padding: 10px;
}
